// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

$line-height-computed: 15px;

figure {
  margin: 0;
  padding: 0;
}

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.aligncenter {
  display: block;
  margin: ($line-height-computed / 2) auto;
}
.alignleft,
.alignright {
  margin-bottom: ($line-height-computed / 2);
}
.alignleft {
  float: left;
  margin-right: ($line-height-computed / 2);
}
.alignright {
  float: right;
  margin-left: ($line-height-computed / 2);
}

// Captions
.wp-caption {
  display: block;
  padding: 4px;
  margin-bottom: $line-height-computed;
  line-height: normal;
  border: 1px solid #ddd;

  > img,
  a > img {
    margin-left: auto;
    margin-right: auto;
  }

  // Image captions
  .caption {
    padding: 9px;
    color: #999;
  }
}
.wp-caption-text {
  padding: ($line-height-computed / 2);
}
